@media all and (min-width: 1150px){
	.thumbnail:hover{
		border: 2px solid;
		background-color: #e4fdf9;
	}
	.text:hover{
		border: 2px solid;
		background-color: orange;
	}
	.second-text:hover{
	transform: rotate(3deg);
	color: pink;
	margin: 50px;
	}
}
