* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

head, body, main {
    height: 100%;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.button {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cl {
  background-color: pink;
  border-radius: 1rem;
  border: none;
  padding: 10px;
  font-family: "Baskervville SC", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
}

.ko {
  display: none;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 22px;
  background: #c1ded8;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-v {
  background: #eeeeee;
}